/* Utility */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.spacebtw {
    justify-content: space-between;
}

.rlcenter {
    justify-content: center;
}

.udcenter {
    align-items: center;
}

.margin {
    margin: 0px 294px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Header */
.topbar {
    width: 100% !important;
    height: 56px;
}

.image {
    height: 40px;
    width: 138.33px;
}

.text {
    font-size: 16px;
    font-weight: bold;

}

.box1 {
    width: 144.33px;
    height: 56px;
    padding-right: 40px;
    margin-right: 20px;
}

.box2 {
    width: 588.29px;
    height: 56px;
}

.sn-button {
    text-decoration: none;
    background-color: #ff5b15;
    border-radius: 2px;
    padding: 5px 16px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    /* font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.bg-blue {
    background: linear-gradient(45deg, #02042b, #02042b 50%);
}

/* NavBar */
.navbar {
    width: 1080px;
}

.padding-nav-button {
    padding: 32px 12px;
    color: white;
}

.height-90 {
    height: 90.83px;
}

.logo {
    width: 125px;
    padding: 28px 22px 28px 0px;
    height: 25px;
}

.nav-r {

    padding: 24px 0px;
    height: 42.833px;
}

.login {
    background-color: #02042b;
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid;
    border-radius: 2.5px;
    border-color: #2b84ea;
    color: white;
}

.signup {
    text-decoration: none;
    background-color: white;
    margin-left: 16px;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 2px;
    color: #4b94ed;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Section */

.Section1 {
    margin: auto;
    width: 1080px;
}

.txtl {
    flex-direction: column;
    color: white;
    width: 410px;
    font-size: 31px;
    padding: 80px 0;
}

.h-1 {
    margin-bottom: 1rem;
}

.line {
    width: 24px;
    height: 4px;
    background-color: #61cea6;
    margin: 1rem 0;
}

.para {
    font-size: 1.25rem;
    margin: 1.25rem 0;
    line-height: 1.75rem;
}

.buttonsn {
    margin-top: 1rem;
}

.signupnow {
    border-radius: 4.5px;
    text-decoration: none;
    background-color: #2b84ea;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 14px;
}

.imgnav {
    height: 100%;
    width: 670px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------ */

/* Section-2 (Accept Payment) */

.accept-payment {
    padding: 1rem 2rem 0rem 2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.apsection {
    width: 1080px;

}

.apsec-headline {
    color: #02042a;
    font-weight: 800;
    font-size: 1.5rem;
}

.apsec-line {
    background-color: #61cea6;
    width: 24px;
    height: 4px;
    display: inline-block;
    text-align: center;
}

.apsec-signup {
    border: 1px solid gainsboro;
    margin: 4rem 0;
    border-radius: 8px;
}

.text {
    flex-direction: column;
    margin: 48px 40px 0px 48px;
}

.apsec-signup>.text-sec>.text>h3 {
    font-size: 1.75rem;
    text-align: left;
    font-weight: 800;
}

.apsec-PG {
    color: #2b84ea;
}

.points {
    margin: 2rem 0 0 2rem;
    text-align: left;
    list-style: none;
    padding-left: 1rem;
    line-height: 2.125;
    font-size: 1rem;
}

.apsec-signup-img {
    height: 520px;
    width: 600px;


}

.points>li::before {
    content: "";
    position: relative;
    top: 0.5rem;
    right: 1.5rem;
    border: solid 2px #85dfca;
    border-left: 0;
    border-top: 0;
    height: 1rem;
    width: 0.5rem;
    float: left;
    transform: rotate(45deg);
}

.apsec-button {
    padding: 2rem 0;
    text-align: left;
}

.apsec-signup-button {
    text-decoration: none;
    background-color: #2b84ea;
    border-radius: 4px;
    color: white;
    padding: 14px 18px;
}

.apsec-know-button {
    padding-left: 24px;
    color: #2b84ea;
    font-weight: 800;
    text-decoration: none;
}

.apsec-cards {
    width: 1080px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;

}

.apcard {
    border: 1px solid gainsboro;
    border-radius: 4px;
    clip-path: polygon(65% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}

.apsec-card-text {
    padding: 24px 48px 24px 20px;
    text-align: left;
}

.apsec-card-text>h3 {
    font-size: 22px;
    font-weight: bolder;
}

.apsec-card-text>p {
    margin-top: 24px;
    font-size: 16px;
    color: grey;
}

.apsec-card-button {
    text-align: left;
    margin-top: 32px;
}

.apsec-card-button>a {
    color: #2b84ea;
    text-decoration: none;
    font-weight: bold;
}

.apsec-notsure-product {
    background: linear-gradient(180deg, rgba(74, 144, 245, 0.21) -34.7%, rgba(125, 186, 244, 0.063) 100%, rgba(125, 186, 244, 0.1295) 100%);
    width: 1080px;
    padding: 1rem;
    margin: 20px;
    border-radius: 8px;
    border: solid 1px #818597;
}

.p1 {
    font-weight: bolder;
}

.s1 {
    font-weight: 100;
}

.a1 {
    font-weight: bolder;
    text-decoration: none;
    color: #2b84ea;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/* Section2 */

.section2 {
    width: 100%;
    background-image: url(./Resourses/section2bg.jpg);
    background-repeat: no-repeat;
    background-size: calc(100%*2)100%;
    padding: 224px 32px 500px 32px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.white {
    color: white;
}

.fontlarger {
    font-size: 28px;
}

.text1 {
    flex-direction: column;
    margin: 48px 0px 0px 48px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-align: left;
    line-height: 1.625;
}

.apsec-cards1 {
    width: 1080px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}

.apcard1 {
    border: 0px;
    text-align: left;
}

.blue {
    color: #2b84ea;

}

.p2 {
    font-weight: 100;
    color: white;
}

.s2 {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.a2 {
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #2b84ea;
    border-radius: 4px;
    font-size: 1rem;
    margin-left: 4rem;
    padding: 14px 18px;
}

.section4 {
    width: 100%;
    background-image: url(./Resourses/section4.jpg);
    background-repeat: no-repeat;
    background-size: calc(100%*2)100%;
    padding: 192px 32px 128px 32px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}